<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application>
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.totalfit.mobile.android.fileprovider.dev"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="android:authorities">
            <meta-data

                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="http" />
                <data android:scheme="https" />

                <data
                    android:host="totalfit.app"
                    android:path="/deep-link" />
                <data
                    android:host="totalfitonline.com"
                    android:path="/deep-link" />
            </intent-filter>
        </provider>

    </application>
</manifest>
